.slider-modal{
    height: 100%;
}

.slider-modal .thumbs-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-modal{
    position: relative;
    background: transparent;
    padding: 50px;
    width: 100%;
    height: 100%
}

.carousel  .control-dots{
    display: none !important;
}
.slider-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto ;
    height: 75vh !important;
    padding-top: 2rem !important;
    position: relative;
}

.slider-modal-container img{
    width: auto !important;
    height:  100% !important;
}

.slider-modal .thumbs-wrapper{
    overflow-x: scroll !important;
    overflow: auto !important;
    white-space: nowrap;
    padding:0 1rem;
}
.slider-modal .carousel-root .carousel:nth-of-type(2){
    
    overflow: auto !important;
}
.slider-modal .thumbs .thumb{
    height:60px;
    width: 48px;
    border: 0;
    opacity: 0.8;
    border-radius: 10px;
}


.slider-modal .thumbs .thumb img{
    height:100%;
    width: 100%;
    opacity:.5
}

.slider-modal .thumbs .animated{
    border: 0;
}    

.slider-modal .thumb.selected,  .slider-modal .carousel .thumb img:hover, .slider-modal .carousel .thumb{
    border: none !important;
    opacity: 1;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 0.5s;
}

.slider-modal .thumb.selected img{
    opacity: 1;
}



.slider-modal .carousel-arrow {
    z-index: 99999999999;
  }

  @media (max-width: 600px) {
    .slide-modal .carousel-arrow{
        display: none;
    } 
  }

  @media (max-width:870px) {
    .slider-modal .carousel-root .carousel:nth-of-type(2){
        display: flex;
        justify-content: center;
    }
    
    .slide-modal .thumbs-wrapper{
        display: block;
        overflow-x: scroll !important;
        overflow: scroll !important;
        margin: 20px 0 0 0;
    }
    
  }

  @media (max-width:768px) {
    .slider-modal-container img{
        width: 80% !important;
        height: 70% !important;
    }
    .control-dots{
        display: none !important;
    }
  }

  @media (max-width:480px) {
    .slide-modal{
        padding:0
    }
    .slider-modal-container img{
        width: 100% !important;
        height: 80% !important;
    }

    .control-dots{
        display: none !important;
    }
  }


  .slide-modal .thumbs-wrapper .control-arrow::after, .slide-modal .thumbs-wrapper .control-arrow::before{
    display: none !important;
  }

