.sub-hero{
  padding: 2rem 4rem;
  background-color: #f2f2f2;
  display: flex;
  }
.sub-hero-heading {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.sub-mission-heading,.sub-vision-heading{

  font-family: SoDoSans_Semibold,Helvetica,sans-serif;

  font-size: 2rem;
}

.sub-section2{
  display: flex;
  gap: 30px;

}


.container-middle {
  display: flex;
 text-align: center;
  gap: 1rem;
  position: relative;
padding: 0 4rem;
}


.container-middle .article-text{
  font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 10px;
}
.container-middle .articles{
  width: 50%;
}
.container-middle .articles .mission-icon img{
  width: 50px;
  height: 60px;
}
.container-middle .articles .vision-icon img{
  width: 80px;
  aspect-ratio: 1.6;

}

.sub-hero-heading .tapas-pce {
  margin-right: 1rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
}

.sub-hero-description {
  font-size: 1rem;
  line-height: 24px;
  text-justify: justify;
}

.read-more-button {
  appearance: none;
  background: transparent;
  color: #7367f0;
  border: none;
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
  padding: 8px;

  font-size: 14px;
  cursor: pointer;
}

.read-more-button:hover {
transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sub-hero-heading {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
  }
  .container-middle {

    flex-direction: column;
  align-items: center;
     padding-left: 80px;
  padding-right: 80px;
  }
  .container-middle .articles{
      width: 100%;
  }
  
  .sub-hero-heading .tapas-pce {
    margin-right: 1rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
  }
}
@media(max-width:768px){
  .sub-hero{
    padding: 2rem;
  }
  .sub-hero-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .sub-hero-description{
    font-size: 1rem;
  }
  
  .sub-hero-heading .tapas-pce {
    margin-right: .5rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
  }


.container-middle {
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;

}
.container-middle .articles{
  width: 100%;
}
}