.sub-hero{
  background-color: #F8E8EE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  overflow-x: hidden;
  position: relative;
  }

  .intro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background-imgOverlay{
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .backgroundwave-imgOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
  }

  .backgroundwave-imgOverlay>img{
    width: 100%;
    height: 100%;
  }
  .intro-container{
    max-width: 1200px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99
  }
.sub-hero-heading {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
}
.sub-hero-heading .tapas-pce {
  margin-right: 1rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
}

.sub-hero-description {
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  text-justify: justify;
  width: 60%;
  margin-top: 2rem;
}



.sub-mission-heading,.sub-vision-heading{

  font-family: SoDoSans_Semibold,Helvetica,sans-serif;

  font-size: 2rem;
}

.sub-section2{
  display: flex;
  gap: 30px;

}

.mv{
  width: 100%;
  padding:2rem 6rem
}
.container-middle {
  display: flex;
 text-align: center;
  gap: 1rem;
  position: relative;
  max-width: 1200px;
  margin: auto;
}


.container-middle .article-text{
  font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 10px;
}
.container-middle .articles{
  width: 50%;
}
.container-middle .articles .mission-icon img{
  width: 50px;
  height: 60px;
}
.container-middle .articles .vision-icon img{
height: 60px;
width: 80px;
  

}




.read-more-button {
  appearance: none;
  background: transparent;
  color: #7367f0;
  border: none;
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
  padding: 8px;

  font-size: 14px;
  cursor: pointer;
}

.read-more-button:hover {
transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 1024px) {

  .sub-hero{
    gap: 0;
    padding: 2rem 0;
  }

  .sub-hero-heading {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  .background-imgOverlay, .backgroundwave-imgOverlay{
    display: none
  }



  .container-middle {
    flex-direction: column;
  align-items: center;
     padding-left: 80px;
  padding-right: 80px;
  }
  .container-middle .articles{
      width: 100%;
  }
  
  .sub-hero-heading .tapas-pce {
    margin-right: 1rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
  }
}
@media(max-width:768px){

  .sub-hero{
    gap: 0;
  }

  .sub-hero{
    padding: 2rem;
  }
  .background-imgOverlay, .backgroundwave-imgOverlay{
    display: none
  }

  .intro-container{
    padding:0 0rem;
  }
  .sub-hero-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  .sub-hero-description{
    font-size: 1rem;
    width: 100%;
  }

  .mv{
    padding: 2rem 0rem
  }
  
  .sub-hero-heading .tapas-pce {
    margin-right: .5rem; /* Adjust the spacing between "Tapas Pce-" and the typewriter effect */
  }

  .sub-mission-heading,.sub-vision-heading{
    font-size: 1.5rem;
  }
.container-middle {
  flex-direction: column;
  gap: 2rem;
}
.container-middle .articles{
  width: 100%;
}
}

@media (max-width:393px) {
  .sub-hero-heading{
    font-size: 1.3rem;
  }
}
