.team-main{
    padding: 2rem 4rem;
}
.team-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.team-container > h1{

    font-family: SoDoSans_Semibold,Helvetica,sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.team-container .member-info{
    display:grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    align-items: center;
    column-gap: 1rem;
    row-gap: 50px;
    margin: 20px 0;
    width: 100%;

    flex-wrap: wrap;
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .team-container .member-info{
        grid-template-columns: repeat(4,minmax(0,1fr));
    
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .team-container .member-info{
        grid-template-columns: repeat(3,minmax(0,1fr));
        row-gap: 2rem;
    justify-items: center;
    
    }
    .team-main{
        padding:0 2rem ;
    }
}
@media (max-width: 768px) {
    .team-container .member-info{
        grid-template-columns: repeat(2,minmax(0,1.6fr));
        justify-items: center;

    }
        .team-main{
            padding:0 2rem ;
        }
        .team-container h1{
            font-size: 2rem;
        }

    }

    @media (max-width: 488px) {
        .team-container .member-info{
            grid-template-columns: repeat(1,minmax(0,1.6fr));
            justify-items: center;
    
        }
    }
