.modal-shadow {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: 10px;
            display: flex;
            justify-Content: center;
            align-items: center;
            z-index:999999999
}

.modal {
    position: relative;
              background: white;
              padding: 50px;
              border-radius: 4px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
              width: 100%;
              height: 50%
}

.modal-close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                background: rgb(100, 88, 238);
                border: none;
                border-radius: 9999px;
                cursor: pointer;
                color: #fff;
                z-index: 9999999;
                padding: 0.5rem 1rem;  
                display: flex;
                justify-content: center;
                align-items: center; 
}

.modal-close-btn:hover{
    background:rgb(131, 121, 241);
    transform: scale(1.025)
}

@media (min-width: 768px) {
    .modal{
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 768px) {
    .modal{
        padding: 20px
    }
    
}