.navbar{
  justify-content: center;
  align-items: center;
  background-color:  #F7F0FF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100px;
  font-family: SoDoSans_bold,Helvetica,sans-serif;
  max-width: 1300px;
  opacity: 0.7;
  backdrop-filter: 10px;
  z-index: 999
}

.navbar-logo {
  font-weight: bold;
  font-weight: bold;
}

.navbar-logo > img{
  width: 100px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 30px;

}

.navbar-link {
  margin-left: 20px;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 5px 0px;
  text-decoration: none;
  color:  rgb(96, 82, 243);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
}
nav ul li a:hover {
  color: #0f0f3e;
  transform: scale(1.1);

}

/* Add any additional styles or modifications as needed */

.navbar-link ::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0f0f3e;;
  transition: width 0.3s ease;
}

.navbar-link :hover::after {
  width: 100%;

}

@media (max-width:1024px){
    .navbar{
      display: none;
    }
}