.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding:0 4rem;

  opacity: 0.7;
  backdrop-filter: 10px;
  
  z-index: 999
}

.navbar-logo {
  font-weight: bold;
  font-weight: bold;
}

.navbar-logo > img{
  width: 100px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-left: 20px;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 5px 0px;
  text-decoration: none;
  color: grey;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
}
/* Add any additional styles or modifications as needed */

.navbar-link ::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: grey;
  transition: width 0.3s ease;
}

.navbar-link :hover::after {
  width: 100%;
}

@media (max-width:1080px){
    .navbar{
      display: none;
    }
}