.homeEvent{
    padding:2rem 4rem;
}

.homeEventContainer{
    width: 100%;
    max-width: 1200px;
    margin:auto
}

.homeEventContainer >h1{
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.homeEventCard{
    position:relative;
    display: flex !important;
    width: 100%;
    height: 500px;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.homeEventCard__imgContainer{
    width:60%
}

.homeEventCard__imgContainer > img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.homeEventCard__infoContainer{
    padding:2rem;
    width:40%;
    /* background-image: linear-gradient(to bottom,#ce9ffc 10%, #6e66bd); */
    background-color: #6e66bd;
    color: #fff;
    position: relative;
}

.homeEventCard__infoContainer-title{
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
}

.homeEventCard__infoContainer-discription{
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 10px;
    text-justify: justify;
}

.homeEventCard__infoContainer-btn{
    width: calc(100% - 64px);
    position: absolute;
    bottom: 32px;
}

.homeEventCard__infoContainer-btn > button{
    padding: 10px 30px;
    border-radius: 5px;
    border: solid 1px #fff;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    /* background: linear-gradient(135deg,#ce9ffc 10%, #7367f0); */
    background: transparent;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .homeEvent{
        padding:2rem;
    }

    .homeEventContainer >h1{
        font-size: 2rem;
    }
    .homeEventCard{
        flex-direction: column; 
        height: auto;
    }

    .homeEventCard__imgContainer, .homeEventCard__infoContainer{
        width: 100%;
    }
    .homeEventCard__imgContainer> img{
        width: 100%;
        height: 400px;
    }

    .homeEventCard__infoContainer-btn{
        position: relative;
        width: 100%;
        bottom: 0
    }
    .homeEventCard__infoContainer-title{
        font-size: 1.5rem;
    }

    .homeEventCard__infoContainer-discription{
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
.homeEventCard__imgContainer{
    height: 300px;
}
}