.Testimonials span {
  color: #b9b9ce;
  font-weight: 500;
}

.Testimonials {
 
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
  padding: 4rem;
}

.Testimonials >h2{

  font-size: 2rem;
  line-height: 4rem;
}

.Testimonials .container {
  position: relative;
}

.Testimonials .slide {
  display: flex;
}

.Testimonials .testimonial {
  background-image: url(../../assets/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  color: #202047;
}

.Testimonials .text {
  font-weight: 300;
  font-family: SoDoSans_Regular,Helvetica,sans-serif;

}

.Testimonials .portrait {
  border-radius: 5px;
  box-shadow: 20px 35px 65px -50px #6c52a7;
}

.Testimonials .next,
.Testimonials .prev {
  border: none;
  background: #fff;
  position: absolute;
}

.Testimonials .next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.Testimonials .prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.Testimonials .next:hover,
.Testimonials .prev:hover {
  background: #fff;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .Testimonials {
    background-size: 33rem;
    align-items: center;
    background-image: url(../../assets/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: right 12px bottom 55%;
    background-size: 42rem;
    margin: 0 auto;
  padding:4rem 4rem 6rem 4rem
     
  }
  .Testimonials >h2{
    font-size: 3rem;
      line-height: 8rem;
  }

  .Testimonials .slide {
    position: relative;
  }
  .Testimonials .slider h2{
    margin-bottom: 1rem;
  }
  .Testimonials .testimonial {
    background-position: left 22% top 78%;
    background-size: 120px 100px;
    height: 220px;
    margin-right: -9rem;
    padding-top: 160px;
    padding-left: 30px;
    padding-right: 100px;
    width: 80%;
    z-index: 9;
  }

  .Testimonials .photo {
    flex: 1;
    margin: 0 auto;
    padding-left: 58px;
  }

  .Testimonials .text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  .Testimonials .name {
    font-size: 20px;
  }

  .Testimonials .portrait {
    height: auto;
    width: 520px;
  }

  .Testimonials .next {
    top: 493px;
    left: 80%;
    padding: 18px 19px 14px 22px;
  }

  .Testimonials .prev {
    top: 493px;
    right: 20%;
    padding: 18px 22px 14px 19px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Testimonials {
    background-size: 550px;
  }

  .Testimonials .slider {
    width: 100%;
  }

  .Testimonials .slide {
    flex-direction: column-reverse;
  }

  .Testimonials .testimonial {
    background-size: 58px;
    background-position: left 245px bottom 173px;
    display: block;
    height: 228px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 550px;
  }

  .Testimonials .text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 18px;
  }

  .Testimonials .name {
    font-size: 15px;
  }

  .Testimonials span {
    display: block;
    line-height: 19px;
  }

  .Testimonials .photo {
    background: url(../../assets/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 327px;
    margin: 10px auto 10px;
    padding: 2.6em 2.3em 2.3em;
  }

  .Testimonials .portrait {
    height: 253px;
    width: 254px;
  }

  .Testimonials .next {
    top: 285px;
    left: 50%;
    padding: 10px 13px 6px 13px;
  }

  .Testimonials .prev {
    top: 285px;
    right: 50%;
    padding: 10px 13px 6px 13px;
  }

  .Testimonials button img {
    transform: scale(0.75);
  }
}

@media (max-width: 767px) {
  .Testimonials {
    background-size: 200px;
    padding: 2rem ;
    margin-bottom: 5rem;
  }

  

  .Testimonials .slide {
    flex-direction: column-reverse;
  }

  .Testimonials .testimonial {
    background-size: 58px;
    background-position: left 127px bottom 173px;
    display: block;
    height: 228px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 311px;
  }

  .Testimonials .text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 18px;
  }

  .Testimonials .name {
    font-size: 15px;
  }

  .Testimonials span {
    display: block;
    line-height: 19px;
  }

  .Testimonials .photo {
    background: url(../../assets/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    margin: 10px auto 10px;
    padding: 0;
  }

  .Testimonials .portrait {
    width: 254px;
    height: 253px;
  }

  .Testimonials .next {
    top: 245px;
    left: 50%;
    padding: 10px 13px 6px 13px;
  }

  .Testimonials .prev {
    top: 245px;
    right: 50%;
    padding: 10px 13px 6px 13px;
  }

  .Testimonials button img {
    transform: scale(0.75);
  }
}

