        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
 font-family: SoDoSans_Light,Helvetica,sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color:  #F7F0FF;
}

.body, html{
  overflow-x: hidden;
}

*::-webkit-scrollbar{
  width: 0;
}


.gradient-text {
    background-image: linear-gradient(135deg,#ce9ffc 10%, #7367f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}



@font-face {
  font-family: SoDoSans_Black;
  src: url(./assets/font/SoDoSans-Black.woff2) format("woff2"),url(./assets/font/SoDoSans-Black.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: SoDosans_Bold;
  src: url(./assets/font/SoDoSans-Bold.woff2) format("woff2"),url(./assets/font/SoDoSans-Bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: SoDoSans_Light;
  src: url(./assets/font/SoDoSans-Light.woff2) format("woff2"),url(./assets/font/SoDoSans-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: SoDoSans_Regular;
  src: url(./assets/font/SoDoSans-Regular.woff2) format("woff2"),url(./assets/font/SoDoSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: SoDoSans_Semibold;
  src: url(./assets/font/SoDoSans-SemiBold.woff2) format("woff2"),url(./assets/font/SoDoSans-SemiBold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}