.slider-Image{
  height: 500px;
  width: 100%;
  position:relative;
}
.slider-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%)
}


.img-info{
  position: absolute;
    padding: 4rem;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
   
    color: white;
}

.hero-slider .quote-container {
  position: absolute;

height:50px;
z-index: 999;
background:#ce9ffc;
  padding: 31px 24px ;

  display: none;
}

.hero-slider .quote-container .star-left{
position: absolute;
top: 2px;
left: 2px;
}
.hero-slider .quote-container .star-right{
  position: absolute;
  bottom: 2px;
  transform: rotate(180deg);
  right: 2px;
  }

.hero-slider .quote-container .quote-text {
  color: #ffffff;
  text-align: center;

  font-size: 0.75rem;

}
.img-info h2{
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 1);
}
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 
  border: none;
  z-index: 999;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-prev {
  left: 10px;
  background-color: rgb(100, 88, 238);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transform: none;
  transition: all .3s ease-in-out;
}
.arrow-prev:hover,.arrow-next:hover {
transform: scale(1.05);
}

.arrow-next {
  right: 10px;
  background-color: rgb(100, 88, 238);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transform: none;
  transition: all .3s ease-in-out;
}
.hero-slider .scroll-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: 100%;
}
.hero-slider .scroll-section .scroll-mouse {
  width: 35px;
  height: 60px;
  border: 2px solid #8f85f3;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.hero-slider .scroll-section .scroll-mouse:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8f85f3;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel{
  to{opacity:0;top:40px}
}
@media(max-width: 768px) {
  .slider-Image img{
    object-position: 50% 50%;

  }
  .slider-Image{
    height: 250px;


  }
  .img-info{
    padding: 2rem;
  }
  .img-info h2{
    display: none;
  }
 
  .arrow-prev,.arrow-next{
    display: none;
  }
  .hero-slider .scroll-section{
    display: none;
  } 
  
}



.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent!important;
}

.my-carousel .carousel .control-dots {
    display: none;
}

@media(max-width: 528px) {
  .hero-slider .quote-container{
    display: flex;
    width: 100%;    height: 60px;
    align-items: center;

justify-content: center;
  }
  .slider-Image{
    height: 250px;

margin-top: 50px;
  }

}